.productImage {
    object-fit: cover;
}

body{
    background:#eee
}

.mainBody {
    margin: auto;
    margin-top: 5vh;
}

.ratings i {
    font-size: 16px;color: red
}

.strike-text{
    color: red;
    text-decoration: line-through
}

.product-image{
    max-height: 30vh;
    object-fit: contain;
    width: 100%
}

.dot{
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.spec-1{
    color: #938787;
    font-size: 15px;
}

h5{
    font-weight: 400;
}

.popup {
    background-color: #822;
    position: fixed;
    top: 20vh;
    left: 0;
    width: 100vw;
    z-index: 5;
    margin: auto;
}

.popupBody {
    padding: 3vh;
}

.para{
    font-size: 16px;
}